@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: url("../img/login-img/LoginFundos-2.jpeg") no-repeat top center/cover;
    width: 100vw;
    height: 100%;
    font-size: 0.98em;
    position: absolute;
    text-align: center;
    /*overflow: hidden;*/ /*proibe e rolagemda tela */

}

#container {
    border: 4px solid rgba(255, 255, 0, 0.05);
    position: relative;
    min-height: 100%;
    width: 100vw;
    height: auto;
}
p1 {
    color: white;
    font-weight: 500;
    font-family: Kanit;
    font-size: 21px;
}
/* =========================================
Stark Industries Logo
========================================= */
#logo {
    animation: logo-entry 4s ease-in;
    width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
}
h1 {
    animation: text-glow 2s ease-out infinite alternate;
    font-family: "Ubuntu", sans-serif;
    /* color: #00a4a2; */
    /* font-size: 48px; */
    font-size: 3.8rem;
    font-weight: bold;
    margin-top: 2em;
    position: absolute;
    /* text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000; */
    top: 50px;
}
h1:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: " ";
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0;
}
h1:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: " ";
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0;
}
/* Adicione estilos para a caixa de checkbox*/
password-container {
    position: relative;
}
span {
    content: "MOSTRA";
    font-family: cursive;
    font-family: Kanit;
    color: yellow;
    font-size: 1.3em;
}
#showPassword {
    height: 20px;
    position: absolute;
    right: 50px;
    top: 50%;
    height: 0;
    /*z-index: 1;*/
    transform: translateY(-50%);
}
.show-password-icon {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    color: #f0fbde;
    font-size: 28px;

}
p {
    color: rgb(245, 243, 247);
    /* font-size: 1.5em; */
    display: block;
    margin-block-start: 4em;
    margin-block-end: 3em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
}
/* =========================================
Log in form
========================================= */
#fade-box {
    animation: input-entry 3s ease-in;
    z-index: 4;
}
.stark-login form {

    animation: form-entry 3s ease-in-out;
    background: #111;
    background: linear-gradient(#87623330, #5c3e44b5);
    border: 2px solid #683a2a;
    box-shadow: 0 0 171px #5c3e26;
    border-radius: 45px;
    display: inline-block;
    /* height: 260em; */
    margin: 200px auto 0;
    margin-top: 30em;
    position: relative;
    /*z-index: -1;*/
    width: 500px;
    transition: 1s all;
    /* border: 13px solid yellow; */
}

/* caixa de fundo login */
.stark-login form:hover {
    border: 6px solid #a84f05;
    box-shadow: 0 0 25px #00fffd;
    transition: 1s all;
}
.stark-login input {
    background: #222222;
    background: linear-gradient(#333333, #222222);
    border-radius: 21px;
    color: #fef8fe;
    display: block;
    font-family: "Cabin", helvetica, arial, sans-serif;
    font-size: 1.3rem;
    height: 40px;
    margin: 20px auto 10px;
    padding: 0 10px;
    width: 400px;
    border: 0px solid #1f0808;
    /* box-shadow: 0 -3px 0 #eeebeb; */
    /* text-shadow: 0 -1px 0 #f3ecec; */
}
.stark-login input:focus {
    animation: box-glow 1s ease-out infinite alternate;
    background: #0b4252;
    background: linear-gradient(#333933, #222922);
    border-color: #00fffc;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}
.stark-login input:invalid {
    border: 2px solid rgb(238, 231, 231);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2), inset 0 0 5px rgba(255, 0, 0, 0.1), 0 2px 0 #000;
}
.stark-login button {
    animation: input-entry 3s ease-in;
    /* background: #fad; */
    /* font-weight: 400; */
    background: linear-gradient(#333333, #222222);
    box-shadow: 0 2px 0 #eeebeb;
    box-sizing: content-box;
    border: 2px solid #fef8fe;
    border-left-color: #fef8fe;
    border-radius: 45px;
    color: #fff;
    display: block;
    font-family: cursive;
    font-family: Kanit;
    font-size: 21px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    padding: 0px;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all;
}
.stark-login button:hover,
.stark-login button:focus {
    background: #0c6125;
    background: linear-gradient(#393939, #292929);
    color: #00fffc;
    outline: none;
    transition: 1s all;
}
.stark-login button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}
/* =========================================
Spinner
========================================= */
#circle1 {
    animation: circle1 4s linear infinite, circle-entry 6s ease-in-out;
    background: #000000;
    border-radius: 50%;
    border: 10px solid #a42e00;
    box-shadow: 0 0 0 2px black, 0 0 0 6px #a42e00;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    opacity: 0.4;
    z-index: -3;
}
#inner-cirlce1 {
    background: #2802087d;
    border-radius: 50%;
    border: 36px solid #ad8255;
    height: 460px;
    width: 460px;
    margin: 10px;
}
#inner-cirlce1:before {
    content: " ";
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
#inner-cirlce1:after {
    content: " ";
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}
/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes circle-entry {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}
@keyframes input-entry {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes form-entry {
    0% {
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
    }

    20% {
        height: 0;
        border: 1px solid #00a4a2;
        width: 0;
        opacity: 0;
        padding: 0;
    }

    40% {
        width: 0;
        height: 220px;
        border: 6px solid #080808;
        opacity: 1;
        padding: 0;
        border: 7px solid #850707;
    }

    100% {
        height: 220px;
        width: 500px;
    }

}
@keyframes box-glow {
    0% {
        border-color: #00b8b6;
        box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 #000;
    }

    100% {
        border-color: #00fffc;
        box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
    }
}
@keyframes text-glow {
    0% {

        color: #db6a0798;
        text-shadow: 0 0 10px #95c70a00, 0 0 20px #00000000, 0 0 30px #00000000, 0 0 40px #00000000, 0 0 50px #00000000, 0 0 60px #00000000, 0 0 70px #00000000;
    }

    100% {
        color: #eaba91;
        text-shadow: 0 0 20px rgba(0, 255, 255, 0), 0 0 10px rgba(0, 255, 255, 0.007), 0 2px 0 #00000009;

    }
}
@keyframes before-glow {
    0% {
        border-bottom: 10px solid #00a4a2;
    }

    100% {
        border-bottom: 10px solid #00fffc;
    }
}
@keyframes after-glow {
    0% {
        border-top: 16px solid #00a4a2;
    }

    100% {
        border-top: 16px solid #00fffc;
    }
}
@keyframes circle1 {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    /* movimento dentro do arco */
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}
@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    /* Styles for screens up to 480px wide */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}
/* Adjust styles for different zoom levels */
@media (max-width: 768px) and (max-zoom: 1) {
    /* Styles for screens up to 768px wide and normal zoom */
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (max-zoom: 0.8) {
    /* Styles for screens up to 768px wide and reduced zoom */
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) and (max-zoom: 1) {
    /* Styles for screens up to 480px wide and normal zoom */
    #container {
        display: block;
        text-align: center;
    }

    /* Adjust other elements as needed */
}



.error-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.error-popup-content {
    background: #ffffff1c;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#close-error-popup {
    margin-top: 10px;
    padding: 5px 10px;
    background: #7f0404;;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3b1e0a;
}
