@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');

body {
    margin: 0;
    padding: 0;
   font-family: Kanit;

        }

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b1e0ac9;
    padding: 10px;

}

.menu li {
    margin: 0;
    padding: 0;
}
h1{
color:red;
font-weight: bold;
font-size: 44px;
font-family: Kanit;
}

.menu a {
    text-decoration: none;
    color: red;
    padding: 5px 112px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    font-family: Kanit;
}



 .btn-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .btn-primary {
            font-size: 34px;
            padding: 10px 20px;
            border: none;
            background:#3b1e0ac9;
            color: Red;
            border-radius: 5px;
        }
         .btn-primary1 {
                    font-size: 104px;
                    padding: 10px 20px;
                    border: none;
                    background:#3b1e0ac9;
                   border-radius: 5px;
                }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 31vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

  .slideshow-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
  }

  .slideshow-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      animation: fade 10s infinite;
  }

  .slideshow-image.active {
      opacity: 1;
      animation: none;
  }

  @keyframes fade {
      0%, 100% { opacity: 0; }
      25%, 75% { opacity: 1; }
  }
    footer {
              background-color:  #3b1e0a;
              color: white;
              text-align: center;

               position: absolute;
                          bottom: -53;
                          width: 100%;
          }

          btn {
              display: inline-flex;
              align-items: center;
              padding: 10px 20px;
              background-color: #007bff;
              color: white;
              text-decoration: none;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;
          }

          .btn:hover {
              background-color: #0056b3;
          }

          .btn img {
              width: 24px;
              height: 24px;
              margin-right: 10px;
          }


        .titulo-centro {
            text-align: center;
            Color:red;
            font-size: 44px;

        }

        .product-rating {
                    font-size: 1.2rem;
                    color: #ff5722;
                }


 .product-box {
        border: 1px solid #3b1e0a;
        padding: 20px;
        margin: 10px;
        width: 300px;
        text-align: center;
        background-color: #3b1e0a;
        display: inline-block;
    }


    .product-image img {
        max-width: 100%;
        height: auto;
    }


    .product-details h2 {
        font-size: 28px;
        margin-top: 10px;
        color:white;
    }


    .product-price {
        font-size: 26px;
        margin-top: 5px;
          color: #e74c3c;
    }

    .product-price span {
        font-weight: bold;
        color: #e74c3c;
    }


    .buy-button {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: red;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }

    .buy-button:hover {
        background-color: red;
    }
 .product-description {
        font-size: 20px;
        margin-top: 10px;
        color:white;
    }


.select-container {
    width: 300px;
    margin: 20px auto;

}

.select-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

/* Estilo para os botões no menu suspenso */
.select-box option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* Estilos para o botão "submit" */
.submit-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
option{
  font-size: 26px;
        margin-top: 5px;
          color: Red;
           text-align: center;
    }

   .product-item {
        transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
    }

    .product-item:hover {
        transform: scale(1.05); /* Aumenta o tamanho em 5% quando o mouse passar por cima */
    }


